<!DOCTYPE html>
<html lang="en">
  <head>
	<title>{{page.title}}</title>
	<meta charset="utf-8" />
	<meta name="description" content="Thomas Grainger" />
	<meta name="keywords" content="Thomas, Grainger, Thomas 
Grainger, tag1g09, ECS undergraduate" />
	<link rel="meta" type="application/rdf+xml" title="FOAF" 
href="/foaf.rdf" />	
<meta name="robots" content="index, follow"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/style.css">
  {{page.extra_head}}
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Thomas Grainger</a>
          <div class="nav-collapse">
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <article class="hero-unit">
        <header>
          <h2>{{page.title}}</h2>
        </header>
        {{content}}
      </article>
      <div class="row">
      </div>
      <footer>
        <p><a href="//github.com/graingert/graingert.github.com">Fork this site on github</a></p>
      </footer>
    </div>

  </body>
</html>
